

h1, h2{
 color:blueviolet;
}
    /* Write your code here: */
    div > p{
        color: firebrick;
    }
 .box li{
    color: blue;
}

li.done{
    color: seagreen;
}

ul > p.done{
    font-size: .5rem;
}
